<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I have been developing my own Ruby on Rails applications for about 5 years,
    learning as I go. I would love to help you bring your amazing ideas to the web!</p>
  </div>

  <%= source_helper("alert alert-info sidebar-module blog-sidebar") %>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon  "github" %></a></li>
      <li><a href="#"><%= fa_icon  "twitter" %></a></li>
      <li><a href="#"><%= fa_icon  "linkedin" %></a></li>
    </ol>
  </div>
  <div class="sidebar-module sidebar-module-inset">
    <h4>Topics</h4>
    <% @sidebar_topics.each do |topic| %>
      <%= link_to topic.title, topic, class:"badge badge-pill badge-default" %>
    <% end %>
  </div>
</div><!-- /.blog-sidebar -->
