<div class="<%= location %>">
  <div class=""><%= link_to "Home", root_path %></div>
  <div class=""><%= link_to "About Me", about_me_path %></div>
  <div class=""><%= link_to "Contact", contact_me_path %></div>
  <div class=""><%= link_to "Blog", blogs_path %></div>
  <div class=""><%= link_to "Projects", projects_path %></div>
</div>
