<div class="container">
  <h2><%= t('.title')%></h2>
  <table class="table">
  <thead>
    <tr>
      <th><%= t('.email')%></th>
      <th><%= t('.name')%></th>
      <th><%= t('.message')%></th>
      <th><%= t('.status')%></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= contact.name %></td>
        <td><%= truncate(contact.message, length: 150) %><%=link_to fa_icon("plus"), contact_path(contact) %></td>
        <td><%= contact.status.upcase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
