<div class="app-card-container">
  <div class="card">
    <h1><%= t ('.ready')%></h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><%= number_to_phone "5555555555"%></p>
        <address class="">
          3609 Faker st
          Austin, TX
          78738
        </address>
        <p><a href="mailto:samantha.grimm@gmail.com"><%= t ('.email_me')%></a></p>
      </div>
      <div class="col-md-6">
        <%= form_for(@contact, url: {action: "create", locale:I18n.locale}) do |f| %>
          <% if @contact.errors.any? %>
            <% @contact.errors.full_messages.each do |error| %>
              <%= alert_generator error %>
            <% end %>
          <% end %>
          <div class="form-group">
            <%= f.label :email, t('.email') %>
            <%= f.text_field :email, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name, t('.name') %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :message, t('.message') %>
            <%= f.text_area :message, class:"form-control", rows: 10 %>
          </div>
          <div class="form-group">
            <%= f.submit t('.send'), class: "btn btn-primary" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
