<div class="form-group nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

</div>
<div class="form-group nested-fields">
  <%= f.label :url %>
  <%= f.text_field :url, class: 'form-control' %>
</div>
<div class="form-group nested-fields">
  <%= f.label :icon %>
  <%= f.text_field :icon, class: 'form-control' %>
  <%= link_to_remove_association 'Remove Technology', f %>
</div>
