
<%=image_tag @project.main_image unless @project.main_image.nil? %>
<h1> <%=@project.title %>  </h1>
<em> <%=@project.subtitle %>  </em>
<p> <%=@project.body %>  </p>
<h2>Technologies Used:</h2>
<% @project.technologies.each do |tech| %>
  <p><%=tech.name %></p>
<% end %>
<p><%= link_to 'Edit', edit_project_path(@project) if logged_in?(:site_admin)%></p>
<p><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%></p>
<p><%= link_to 'Back', projects_path %></p>
