<div class="container project-container">
  <div class="row">
    <div class="col-md-7">
      <%=image_tag project_img(@project.main_image, 'main'), width: '100%' %>
      <% unless @project.technologies.empty? %>
        <hr>
        <h3><%= t('.tech_used')%></h3>
        <% @project.technologies.each do |tech| %>
          <p><%=tech.name %></p>
        <% end %>
      <% end %>
      <% unless @project.links.empty? %>
        <hr>
        <h3><%= t('.links')%></h3>
        <% @project.links.each do |link| %>
          <%=link_to fa_icon("#{link.icon} 2x"), link.url, target: "_blank" %>
        <% end %>
      <% end %>
      <% if logged_in?(:site_admin)%>
        <p><%= link_to fa_icon('pencil-square-o 2x'), edit_project_path(id: @project.id, locale: I18n.locale) %></p>
        <p><%= link_to fa_icon('copy 2x'), copy_project_path(id: @project.id, locale: I18n.locale) %></p>
        <p><%= link_to fa_icon('trash 2x'), project_path(id: @project.id, locale: I18n.locale), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    </div>
    <div class="col-md-5">
      <h1> <%=@project.title %>  </h1>
      <hr>
      <em> <%=@project.subtitle %>  </em>
      <p><%= markdown(@project.body) %></p>


    </div>
  </div>
</div>
